{% extends '../customer-layout.html' %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'css/custom-style.css' %}">
{% endblock stylesheets %}

{% block content %}
<header>
    <h1>Edit Profile</h1>
</header>
<div class="container">
    <form>
        <div class="row">
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="fname" class="form-label">First Name</label>
                    <input type="text" class="form-control" id="fname">
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="lname" class="form-label">Last Name</label>
                    <input type="text" class="form-control" id="lname">
                </div>
            </div>
            <div class="col-md-12">
                <div class="mb-3">
                    <label for="email" class="form-label">Email Address</label>
                    <input type="email" class="form-control" id="email">
                </div>
            </div>
            <div class="col-md-4">
                <div class="mb-3">
                    <label for="dob" class="form-label">Date of Birth</label>
                    <input type="date" class="form-control" id="dob">
                </div>
            </div>
            <div class="col-md-8">
                <div class="mb-3">
                    <label for="cpnum" class="form-label">Contact Number</label>
                    <input type="number" class="form-control" id="cpnum">
                </div>
            </div>
        </div>
        <div class="mt-2">
            <a onclick="window.history.go(-1); return false;" class="btn btn-dark">Cancel</a>
            <button type="submit" class="btn btn-primary float-end">Update</button>
        </div>
      
    </form>
</div>
{% endblock %}