{% extends '../customer-layout.html' %}
{% load static %}
{% block stylesheets %}
<link rel="stylesheet" href="{% static 'css/custom-style.css' %}">
{% endblock stylesheets %}

{% block content %}
<header>
	<h1>Your In-Process Order</h1>
</header>

<div class="container">
	<div class="col-12 mx-auto col-md-10">
		<div class="d-flex justify-content-around bd-highlight">
			<div class="p-2 bd-highlight"><a href="{% url 'customer_pending_order' %}" class="btn btn-primary p-2"><i class="fa fa-clock"></i><br> Pending</a></div>
			<div class="p-2 bd-highlight"><a href="{% url 'customer_process_order' %}" class="btn btn-warning p-2"><i class="fa fa-spinner"></i><br> In-process</a></div>
			<div class="p-2 bd-highlight"><a href="{% url 'customer_completed_order' %}" class="btn btn-primary p-2"><i class="fa fa-check-circle"></i><br> Completed</a></div>
		</div>
	</div>

	<div class="content mt-2">
		<div class="page-header">
			<div class="page-title">
				<h4>Process Order List</h4>
				<h6>View all process orders</h6>
			</div>
		</div>

		<div class="card">
			<div class="card-body">
				<div class="table-responsive">
					<table id="example" class="table">
						<thead>
							<tr>
								<th>Order No.</th>
								<th>Order Mode</th>
								<th>Status</th>
								<th>Total Amount</th>
								<th class="text-center">Action</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>2023091012</td>
								<td>Delivery</td>
								<td class="text-info">In-Process</td>
								<td>200</td>
								<td class="text-center">
									<a class="btn btn-sm btn-info" href="">
										<i data-feather="eye"></i>
									</a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="viewModal">
    <div class="modal-lg modal-dialog">
        <div class="modal-content">
            <form action="" method="post" id="view_frm">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Your Order</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="form-group">
                            <label>Item Name</label>
                            <input type="text" class="form-control" name="name" readonly>
                        </div>
						<div class="col-md-6">
							<div class="form-group">
								<label>Quantity</label>
								<input type="text" class="form-control" name="quantity" readonly>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label>Price</label>
								<input type="text" class="form-control" name="price" readonly>
							</div>
						</div>
						<div class="form-group">
							<label>Total Price</label>
							<input type="text" class="form-control" name="total_price" readonly>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label>Category</label>
								<input type="text" class="form-control" name="category" readonly>
							</div>
						</div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Order Mode</label>
                                <input type="text" class="form-control" name="order_mode" readonly>
                            </div>
                        </div>
						
						<div class="form-group">
							<label>Prep Time</label>
							<input type="text" class="form-control" name="PrepTime" readonly>
						</div>
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <textarea name="description" id="description" cols="30" rows="10" readonly></textarea>
                    </div>
                </div>
                <div class="modal-footer float-end">
                    <a class="btn btn-cancel" data-bs-dismiss="modal" aria-label="Close">Close</a>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}

{% block javascripts %}
<script>
    $('#delModal').on('show.bs.modal', function (e) {
        var opener = e.relatedTarget;
        var id = $(opener).attr('id');
        $('#delete_frm').find('[name="id"]').val(id);
    });
    $('#viewModal').on('show.bs.modal', function (e) {
        var opener = e.relatedTarget;
        var name = $(opener).attr('name');
        var category = $(opener).attr('category');
        var price = $(opener).attr('price');
        var PrepTime = $(opener).attr('PrepTime');
        var description = $(opener).attr('description');
        var order_mode = $(opener).attr('order_mode');
        $('#view_frm').find('[name="name"]').val(name);
        $('#view_frm').find('[name="category"]').val(category);
        $('#view_frm').find('[name="price"]').val(price);
        $('#view_frm').find('[name="PrepTime"]').val(PrepTime);
        $('#view_frm').find('[name="description"]').val(description);
        $('#view_frm').find('[name="order_mode"]').val(order_mode);
    });
</script>
{% endblock javascripts %}