{% extends '../customer-layout.html' %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'css/custom-style.css' %}">
{% endblock stylesheets %}

{% block content %}
<header>
    <h1>Your Order History</h1>
</header>
<div class="content mt-2">
    <div class="page-header">
        <div class="page-title">
            <h4>Order History List</h4>
            <h6>View all history orders</h6>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <table id="example" class="table">
                    <thead>
                        <tr>
                            <th>Order No.</th>
                            <th>Order Mode</th>
                            <th>Status</th>
                            <th>Total Amount</th>
                            <th class="text-center">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>2023091012</td>
                            <td>Delivery</td>
                            <td class="text-success">Completed</td>
                            <td>200</td>
                            <td class="text-center">
                                <a class="btn btn-sm btn-info" href="{% url 'customer_orderlist' %}">
                                    <i data-feather="eye"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>2023091012</td>
                            <td>Delivery</td>
                            <td class="text-secondary">Cancelled</td>
                            <td>200</td>
                            <td class="text-center">
                                <a class="btn btn-sm btn-info" href="{% url 'customer_orderlist' %}">
                                    <i data-feather="eye"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
