{% extends '../customer-layout.html' %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'css/custom-style.css' %}">
{% endblock stylesheets %}

{% block content %}
<header>
    <h1>Your Order History</h1>
</header>
<div class="content mt-2">
    <div class="page-header">
        <div class="page-title">
            <h4>Order History List</h4>
            <h6>View all history orders</h6>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <table id="example" class="table">
                    <thead>
                        <tr>
                            <th>Order No.</th>
                            <th>Date Time</th>
                            <th>Image</th>
                            <th>Foods</th>
                            <th>Quantity</th>
                            <th>Order Mode</th>
                            <th>Status</th>
                            <th class="text-center">Action</th>
                        </tr>
                    </thead>
                    {% for order in orders %}
                    <tbody>
                        <tr>
                            <td>{{ order.id }}</td>
                            <td>{{ order.date }}</td>
                            <td>
                                <a href="{{ order.product.image.url }}">
                                    <img width="50" src="{{ order.product.image.url }}" alt="vehicle">
                                </a>
                            </td>
                            <td>{{ order.product.name }}</td>
                            <td>{{ order.quantity }}</td>
                            <td>{{ order.order_mode }}</td>
                            {% if order.status == 'Cancelled' %}
                            <td class="text-danger">{{ order.status }}</td>
                            {% else %}
                            <td class="text-success">{{ order.status }}</td>
                            {% endif %}
                            <td class="text-center">
                                <a data-bs-toggle="modal" id="" data-bs-target="#viewModal">
                                    <i data-feather="eye"></i>
                                </a>
                                <a type="button" data-bs-toggle="modal" id="" data-bs-target="#delModal">
                                    <i data-feather="delete"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
