{% extends '../main-layout.html' %}
{% load static %}

{% block title %}
List of Food
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'css/foodproduct.css' %}">
{% endblock stylesheets %}

{% block content %}
<section id="search" class="container2">
    <form method="get">
        <input type="search" name="search" class="search" placeholder="Search Food Name">
    </form>
</section>

<section id="foods">
    <div class="header">
        <h2>Food Product</h2>
    </div>
    <div class="seller container2">
        <div class="foodproduct">
            {% for food in foods %}
            <div class="best-p1">
                <img src="{{ food.image.url }}" style="border-radius: 10px; margin-bottom: 10px; margin-top: 20px;" alt="img">
                <div class="best-p1-txt">
                    <div class="name-of-p">
                        <p>{{ food.name }}</p>
                    </div>
                    <div class="rating">
                        {% if food.ratings <= 1.5 %}
                        <span>{{ food.ratings |floatformat:1 }}/5.0</span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        {% elif food.ratings >= 1.6 and food.ratings <= 2.5 %}
                        <span>{{ food.ratings |floatformat:1 }}/5.0</span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        {% elif food.ratings >= 2.6 and food.ratings <= 3.5 %}
                        <span>{{ food.ratings |floatformat:1 }}/5.0</span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        {% elif food.ratings >= 3.6 and food.ratings <= 4.5 %}
                        <span>{{ food.ratings |floatformat:1 }}/5.0</span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        {% elif food.ratings >= 4.6 and food.ratings <= 5 %}
                        <span>{{ food.ratings |floatformat:1 }}/5.0</span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        {% endif %}
                    </div>
                    <div class="price">
                        &#8369; {{ food.price }}
                        <div class="colors">
                            {% if food.availability == 0 %}
                            <i class='red'>Unavailable</i>
                            {% elif food.availability == 1 %}
                            <i class='blue'>Available</i>
                            {% endif %}
                        </div>
                    </div>
                    <div class="buy-now">
                        {% if food.availability == 0 %}
                        <button disabled><a>Buy Now</a></button>
                        {% elif food.availability == 1 %}
                        <button><a href="{% url 'main_food_show' food.id %}">Buy Now</a></button>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% empty %}
            <h1 style="color:red">No Food Data Found!</h1>
            {% endfor %}

        </div>
    </div>
</section>

{% endblock %}
{% block javascripts %}

{% endblock javascripts %}
