{% extends '../main-layout.html' %}
{% load static %}

{% block title %}
List of Food
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'css/foodproduct.css' %}">
<link rel="stylesheet" href="{% static 'css/viewproduct.css' %}">
{% endblock stylesheets %}

{% block content %}
<section id="search" class="container2">
    <form action="{% url 'main_food' %}" method="get">
        <input type="search" name="search" class="search" placeholder="Search Food Name">
    </form>
</section>

<section id="foods">
    <div class="header" style="margin-bottom: 40px;">
        <h2>Your Cart Order</h2>
    </div>
    <div class="header">
        {% for message in messages %}
        {% if message.tags == 'success' %}
        <div class="alert success">
            <input type="checkbox" id="alert1" />
            <label class="close" title="close" for="alert1">
                <i class="icon-remove"></i>
            </label>
            <p class="inner">
                <strong>Success!</strong> {{ message }}
            </p>
        </div>
        {% elif message.tags == 'error' %}
        <div class="alert error">
            <input type="checkbox" id="alert1" />
            <label class="close" title="close" for="alert1">
                <i class="icon-remove"></i>
            </label>
            <p class="inner">
                <strong>Opps!</strong> {{ message }}
            </p>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    <div class="seller container2">
        <div class="foodproduct">
            <form action="" method="POST">
                {% csrf_token %}
                {% if orders %}
                {% for order in orders %}
                <div class="container-product">
                    <div class="product-image" style="margin: 10px auto;">
                        <img src="{{ order.product.image.url }}" alt="img">
                    </div>
                    <div class="product-details" style="align-self: center;">
                        <div class="product-header">
                            <div style="display: flex; float:right; align-self: center;">
                                Select Food &nbsp;<input type="checkbox" name="checkbox" value="{{ order.id }}">
                            </div>
    
                            <h3>{{ order.product.name | title }}</h3>
                            <h1>{{ order.product.price }}.00</h1>
                        </div>
                        <div class="cont-mo">
                            <div class="more-details">
                                <table class="order-table">
                                    <thead>
                                        <tr>
                                            <th>Quantity</th>
                                            <th>Price</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>{{ order.quantity }}</td>
                                            <td>{{ order.product.price }}.00</td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td>Total Amount:</td>
                                            <td>{{ order.total_amount }}.00</td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                        <div class="product-footer" style="margin-bottom: 40px;">
                            <a href="{% url 'customer_delete_one_order' order.id %}" class="btn-back">Remove This</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <div class="product-footer">
                    <a class="btn-back" href="{% url 'main_food' %}">Back to Foods</a>
                    <button class="btn-place-order" type="submit">Placed Order</button>
                </div>
                {% else %}
                <br>
                <p><i>No product in cart</i></p>
                {% endif %}
            </form>
        </div>
    </div>
</section>
{% endblock %}
{% block javascripts %}

{% endblock javascripts %}
