{% extends '../main-layout.html' %}
{% load static %}

{% block title %}
List of Food
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'css/foodproduct.css' %}">
<link rel="stylesheet" href="{% static 'css/viewproduct.css' %}">
{% endblock stylesheets %}

{% block content %}
<section id="search" class="container2">
    <input type="search" class="search" placeholder="Search Food Name">
</section>

<section id="foods">
    <div class="header">
        <h2>Your Cart Order</h2>
    </div>

    <div class="seller container2">
        {% if orders %}
        {% for order in orders %}
        <div class="container-product">
            <div class="product-image">
                <img src="{{ order.product.image.url }}" alt="img">
            </div>
            <div class="product-details" style="align-self: center;">
                <div class="product-header">
                    <h3>{{ order.product.name | title }}</h3>
                    <h1>{{ order.product.price }}.00</h1>
                </div>
                <div class="cont-mo">
                    <div class="more-details">
                        <table class="order-table">
                            <thead>
                                <tr>
                                    <th>Quantity</th>
                                    <th>Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{ order.quantity }}</td>
                                    <td>{{ order.product.price }}.00</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td>Total Amount:</td>
                                    <td>{{ order.total_amount }}.00</td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <div class="product-footer">
                    <a class="btn-back">Remove This</a>
                    <a class="btn-place-order" href="{% url 'main_food_success' %}">Buy This Only</a>
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <br>
        <p><i>No product in cart</i></p>
        {% endif %}

        <table class="order-table">
            <form action="" method="POST">
                {% csrf_token %}
                <thead>
                    <tr>
                        <th colspan="2">Summary Order</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Address:</td>
                        <td><input class="product-qty" type="text" name="location" placeholder="Type here your address">
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td>Order Mode:</td>
                        <td>{{ data.order_mode }}</td>
                    </tr>
                    <tr>
                        <td>Total Order:</td>
                        <td>{{ transaction.total_amount }}.00</td>
                    </tr>
                </tfoot>
                <div class="product-footer">
                    <a class="btn-back" onclick="window.history.go(-1); return false;">Back</a>
                    <a class="btn-place-order" href="{% url 'main_food_success' %}">Remove all</a>
                    <button class="btn-place-order" type="submit">Check Out</button>
                </div>
            </form>
        </table>
    </div>


</section>
{% endblock %}
{% block javascripts %}
{% endblock javascripts %}
