{% extends '../main-layout.html' %}
{% load static %}

{% block title %}
List of Food
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'css/foodproduct.css' %}">
<link rel="stylesheet" href="{% static 'css/viewproduct.css' %}">
{% endblock stylesheets %}

{% block content %}
<section id="search" class="container2">
    <input type="search" class="search" placeholder="Search Food Name">
</section>
<section id="foods">
    <div class="header">
        <h2>View Product</h2>
    </div>
    <div class="seller container2">
        <div class="container-product">
            <div class="product-image">
                <img src="{{ food.image.url }}" alt="img">
            </div>
            <div class="product-details">
                <div class="product-header">
                    <h3>{{ food.name }}</h3>
                    <h1>{{ food.price}} PHP</h1>
                </div>
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="cont-mo">
                        <div class="more-details">
                            <h1>More Details</h1>
                            <br>
                            <label><b>Estimated Prep</b></label>
                            <input type="text" value="{{ food.PrepTime }}" readonly>

                            <label><b>Status</b></label>
                            {% if food.availability == True %}
                            <input type="text" value="Available" readonly>
                            {% else %}
                            <input type="text" value="Unavailable" readonly>
                            {% endif %}
                        </div>
                        <div class="order-qty-button">

                            <h3>Select</h3>
                            <br>
                            <label><b>Quantity</b></label>
                            <div class="qty-input">
                                <button class="qty-count qty-count--minus" data-action="minus" type="button">-</button>
                                <input class="product-qty" type="number" name="product-qty" min="0" max="10" value="1">
                                <button class="qty-count qty-count--add" data-action="add" type="button">+</button>
                            </div>
                            <br>
                            <label for="order"><b>Order Mode</b></label>
                            <select id="order" name="mode">
                                <option value="Dine-In">Dine-In</option>
                                <option value="Delivery">Delivery</option>
                            </select>
                        </div>
                    </div>
                    <div class="product-footer">
                        <a class="btn-back" onclick="window.history.go(-1); return false;">Back</a>
                        <button class="btn btn-place-order" type="submit">Place Order</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</section>

{% endblock %}
{% block javascripts %}
{% endblock javascripts %}
