{% extends '../admin-layout.html' %}

{% block title %}
List of Food
{% endblock %}

{% block stylesheets %}
{% endblock stylesheets %}

{% block content %}
<div class="content">
    {% load static %}
    <div class="row">
        {% for message in messages %}
        {% if message.tags == 'success' %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
        {% elif message.tags == 'error' %}
        <div class="alert alert-danger" role="alert">
            {{ message }}
        </div>
        {% endif %}
        {% endfor %}
    </div>
    <div class="page-header">
        <div class="page-title">
            <h4>User Management</h4>
            <h6>Manage all users</h6>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <table id="example" class="table">
                    <thead>
                        <tr>
                            <th>Date Created</th>
                            <th>Image</th>
                            <th>Full Name</th>
                            <th>Email Address</th>
                            <th>Contact Number</th>
                            <th>Address</th>
                            <th class="text-center">Action</th>
                        </tr>
                    </thead>
                    {% for user in users %}
                    <tbody>
                        <tr>
                            <td>{{ user.date_joined }}</td>
                            <td>
                                {% if user.personinfo.image %}
                                <img width="50" src="{{ user.personinfo.image.url }}">
                                {% else %}
                                <img src="{% static 'img/no-profile.png' %}" width="50">
                                {% endif %}
                            </td>
                            <td>{{ user.first_name | title }} {{ user.last_name | title }}</td>
                            <td>{{ user.email }}</td>
                            <td>{{ user.personinfo.contact }}</td>
                            <td>{{ user.personinfo.address }}</td>
                            <td class="text-center">
                                <a class="me-3" href="{% url 'admin_account_change_pass' user.id %}">
                                    <i data-feather="edit"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block javascripts %}
{% endblock javascripts %}
