{% extends '../admin-layout.html' %}

{% block title %}
Dashboard
{% endblock %}

{% block stylesheets %}
{% endblock stylesheets %}

{% block content %}
<div class="content">
    {% load static %}
    <div class="row">
        {% for message in messages %}
        {% if message.tags == 'success' %}
        <script>
            Swal.fire(
                'Successfully Register!',
                'You may login now. Thank!',
                'success'
            )
        </script>
        {% elif message.tags == 'error' %}
        <script>
            Swal.fire(
                '{{ message }}'
            )
        </script>
        {% endif %}
        {% endfor %}
    </div>
    <div class="row">
        <div class="col-lg-4 col-sm-6 col-12">
            <div class="dash-count">
                <div class="dash-counts">
                    <h4>{{ count_pending }}</h4>
                    <h5>Pending</h5>
                </div>
                <div class="dash-imgs">
                    <i data-feather="user"></i>
                </div>
                <div class="flex">
                    <a class="btn btn-primary" href="{% url 'admin_pending_order' %}">View</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 col-12 d-flex">
            <div class="dash-count das1">
                <div class="dash-counts">
                    <h4>{{ count_pd }}</h4>
                    <h5>Processing</h5>
                </div>
                <div class="dash-imgs">
                    <i data-feather="rotate-cw"></i>
                </div>
                <div class="flex">
                    <a class="btn text-white" href="{% url 'admin_process_order' %}">View</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-12 col-12 d-flex">
            <div class="dash-count das2">
                <div class="dash-counts">
                    <h4>{{ count_completed }}</h4>
                    <h5>Completed</h5>
                </div>
                <div class="dash-imgs">
                    <i data-feather="check-circle"></i>
                </div>
                <div class="flex">
                    <a class="btn text-white" href="{% url 'admin_completed_order' %}">View</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content mt-2">
    <div class="page-header">
        <div class="page-title">
            <h4>Pending Order List</h4>
            <h6>View all pending orders</h6>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <table id="example" class="table">
                    <thead>
                        <tr>
                            <th>Date Ordered</th>
                            <th>Order No.</th>
                            <th>Image</th>
                            <th>Customer</th>
                            <th>Order Mode</th>
                            <th>Status</th>
                            <th>Total Amount</th>
                            <th class="text-center">Action</th>
                        </tr>
                    </thead>
                    {% for tran in trans %}
                    <tbody>
                        <tr>
                            <td>{{ tran.date_created }}</td>
                            <td>{{ tran.transaction_id }}</td>
                            <td>
                                <a href="{{ tran.user.personinfo.image.url }}">
                                    <img width="50" src="{{ tran.user.personinfo.image.url }}">
                                </a>
                            </td>
                            <td>{{ tran.user.first_name | title }} {{ tran.user.last_name | title }}</td>
                            <td>{{ tran.order_mode }}</td>
                            <td class="text-danger">{{ tran.status }}</td>
                            <td>{{ tran.total_amount }}</td>
                            <td class="text-center">
                                <a class="btn btn-sm btn-success text-white" data-bs-toggle="modal" id=""
                                   data-bs-target="#appModal{{ tran.id }}">
                                    <i data-feather="check"></i>
                                </a>

                                <a class="btn btn-sm btn-info text-white"
                                   href="{% url 'admin_customer_orderlist_pending' tran.transaction_id %}">
                                    <i data-feather="eye"></i>
                                </a>

                                <a class="btn btn-sm btn-danger text-white" type="button" data-bs-toggle="modal" id=""
                                   data-bs-target="#caModal">
                                    <i data-feather="delete"></i>
                                </a>

                            </td>
                        </tr>
                    </tbody>

                    <!-- Confirm Modal -->
                    <div class="modal fade" id="appModal{{ tran.id }}">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <form action="" method="post" id="app_frm">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Confirming...?</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <input name="id" type="hidden">
                                        <p>Are you sure you want to Confirm this data?</p>
                                    </div>
                                    <div class="modal-footer float-end">
                                        <a type="submit" class="btn btn-dark"
                                           href="{% url 'admin_toProcess_order' tran.id %}">Yes</a>
                                        <a class="btn btn-cancel" data-bs-dismiss="modal" aria-label="Close">Cancel</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- Delete Modal -->
                    <div class="modal fade" id="caModal">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <form action="" method="POST" id="ca_frm">
                                    {% csrf_token %}
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Canceling...?</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <input name="id" type="hidden">
                                        <p>Are you sure you want to cancel this data?</p>
                                        <input type="text" class="form-control" placeholder="Your Reason" name="reason"
                                               required>
                                    </div>
                                    <div class="modal-footer float-end">
                                        <button type="submit" class="btn btn-dark">Yes</button>
                                        <a class="btn btn-cancel" data-bs-dismiss="modal" aria-label="Close">Cancel</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    {% endfor %}

                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block javascripts %}
<script>
    $(document).ready(function () {
        $('#example').dataTable();
    });
</script>
{% endblock javascripts %}
