{% extends '../admin-layout.html' %}
{% load static %}

{% block title %}
List of Completed Order
{% endblock %}

{% block stylesheets %}
{% endblock stylesheets %}

{% block content %}
<div class="content mt-2">
    <div class="page-header">
        <div class="page-title">
            <h4>Completed Order List</h4>
            <h6>View all completed orders</h6>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <table id="example" class="table">
                    <thead>
                        <tr>
                            <th>Date Ordered</th>
                            <th>Order No.</th>
                            <th>Image</th>
                            <th>Customer</th>
                            <th>Order Mode</th>
                            <th>Status</th>
                            <th>Total Amount</th>
                            <th class="text-center">Action</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>2023-09-28</td>
                            <td>36215</td>
                            <td>
                                <a href="{% static 'img/no-profile.png' %}">
                                    <img width="50" src="{% static 'img/no-profile.png' %}">
                                </a>
                            </td>
                            <td>Customer Nname</td>
                            <td>Dine-In</td>
                            <td class="text-success">Completed</td>
                            <td>1000</td>
                            <td class="text-center">
                                <a class="btn btn-sm btn-info text-white" data-bs-toggle="modal" id=""
                                   data-bs-target="#viewModal">
                                    <i data-feather="eye"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="caModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="" method="post" id="ca_frm">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Canceling...?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input name="id" type="hidden">
                    <p>Are you sure you want to cancel this data?</p>
                    <input type="text" class="form-control" placeholder="Your Reason" required>
                </div>
                <div class="modal-footer float-end">
                    <button type="submit" class="btn btn-dark">Yes</button>
                    <a class="btn btn-cancel" data-bs-dismiss="modal" aria-label="Close">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
<script>
    $(document).ready(function () {
        $('#example').dataTable();
    });
    $('#delModal').on('show.bs.modal', function (e) {
        var opener = e.relatedTarget;
        var id = $(opener).attr('id');
        $('#delete_frm').find('[name="id"]').val(id);
    });
</script>
{% endblock javascripts %}
