{% extends '../admin-layout.html' %}
{% load static %}

{% block title %}
List of Completed Order
{% endblock %}

{% block stylesheets %}
{% endblock stylesheets %}

{% block content %}
<div class="content mt-2">
    <div class="page-header">
        <div class="page-title">
            <h4>Completed Order List</h4>
            <h6>View all completed orders</h6>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <table id="example" class="table">
                    <thead>
                        <tr>
                            <th>Date Ordered</th>
                            <th>Order No.</th>
                            <th>Image</th>
                            <th>Customer</th>
                            <th>Order Mode</th>
                            <th>Status</th>
                            <th>Total Amount</th>
                            <th class="text-center">Action</th>
                        </tr>
                    </thead>
                    {% for tran in trans %}
                    <tbody>
                        <tr>
                            <td>{{ tran.date_created }}</td>
                            <td>{{ tran.transaction_id }}</td>
                            <td>
                                <a href="{{ tran.user.personinfo.image.url }}">
                                    <img width="50" src="{{ tran.user.personinfo.image.url }}">
                                </a>
                            </td>
                            <td>{{ tran.user.first_name | title }} {{ tran.user.last_name | title }}</td>
                            <td>{{ tran.order_mode }}</td>
                            <td class="text-success">{{ tran.status }}</td>
                            <td>{{ tran.total_amount }}</td>
                            <td class="text-center">
                                <a class="btn btn-sm btn-info text-white"
                                   href="{% url 'admin_customer_orderlist_completed' tran.transaction_id %}">
                                    <i data-feather="eye"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block javascripts %}
<script>
    $(document).ready(function () {
        $('#example').dataTable();
    });
    $('#delModal').on('show.bs.modal', function (e) {
        var opener = e.relatedTarget;
        var id = $(opener).attr('id');
        $('#delete_frm').find('[name="id"]').val(id);
    });
</script>
{% endblock javascripts %}
