{% extends '../admin-layout.html' %}
{% load static %}

{% block title %}
List of Cancelled Order
{% endblock %}

{% block stylesheets %}
{% endblock stylesheets %}

{% block content %}
<div class="content mt-2">
    <div class="page-header">
        <div class="page-title">
            <h4>Cancelled Order List</h4>
            <h6>View all cancelled order</h6>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <table id="example" class="table">
                    <thead>
                        <tr>
                            <th>Date Ordered</th>
                            <th>Order No.</th>
                            <th>Image</th>
                            <th>Customer</th>
                            <th>Order Mode</th>
                            <th>Status</th>
                            <th>Total Amount</th>
                            <th class="text-center">Action</th>
                        </tr>
                    </thead>
                    {% for t in trans %}
                    <tbody>
                        <tr>
                            <td>{{ t.date_created }}</td>
                            <td>{{ t.transaction_id }}</td>
                            <td>
                                <a href="{{ t.user.personinfo.image.url }}">
                                    <img width="50" src="{{ t.user.personinfo.image.url }}">
                                </a>
                            </td>
                            <td>{{ t.user.first_name | title }} {{ t.user.last_name | title }}</td>

                            <td>{{ t.order_mode }}</td>
                            <td>{{ t.status }}</td>
                            <td>{{ t.total_amount}}</td>
                            <td class="text-center">
                                <a class="btn btn-sm btn-info text-white" data-bs-toggle="modal" id=""
                                   data-bs-target="#cancelled{{ order.id }}">
                                    <i data-feather="eye"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                    <!-- Cancelled message modal -->
                    <div class="modal fade" id="cancelled{{ order.id }}">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <form action="" method="post" id="app_frm">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Cancelled Order</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <input name="id" type="hidden">
                                        <p>Order has been cancelled due to following reason/s: {{ t.cancel_reason }}
                                        </p>
                                    </div>
                                    <div class="modal-footer float-end">
                                        <a class="btn btn-cancel" data-bs-dismiss="modal" aria-label="Close">OK</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block javascripts %}
<script>
    $(document).ready(function () {
        $('#example').dataTable();
    });
    $('#delModal').on('show.bs.modal', function (e) {
        var opener = e.relatedTarget;
        var id = $(opener).attr('id');
        $('#delete_frm').find('[name="id"]').val(id);
    });
</script>
{% endblock javascripts %}
