{% extends '../admin-layout.html' %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'css/custom-style.css' %}">
{% endblock stylesheets %}

{% block content %}
<header>
    <h1>Welcome to your profile!</h1>
</header>
<div class="container">
    <div class="dropdown">
        <button class="btn btn-das2" type="button" id="dropdownMenuButton1"
                data-bs-toggle="dropdown" aria-expanded="false">
            <i data-feather="more-horizontal"></i>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li> <a class="dropdown-item" href="{% url 'admin_profile_edit' %}"><i class="me-2" data-feather="user"></i> Edit Profile Information</a></li>
            <li> <a class="dropdown-item" href="{% url 'admin_change_picture' %}"><i class="me-2" data-feather="image"></i> Change Profile Picture</a></li>
            <li> <a class="dropdown-item" href="{% url 'change_password' %}"><i class="me-2" data-feather="key"></i> Change Password</a></li>
        </ul>
    </div>
    <div class="profile-picture">
        <img src="{% static 'img/no-profile.png' %}" alt="img">
    </div>
    <div class="profile-info">
        <h2>Name</h2>
        <p>Location: Address</p>
        <p>Email: customer@example.com</p>
        <p>Date of Birth: May 20, 1999</p>
        <!-- concatenate mo padi an number na ten digits dida sa contact -->
        <p>Contact: +639xxxxxxxxx</p> 
    </div>
</div>
{% endblock %}
