{% extends '../admin-layout.html' %}
{% load static %}

{% block title %}
View Customer's Order
{% endblock %}


{% block stylesheets %}
<link rel="stylesheet" href="{% static 'css/custom-style.css' %}">
{% endblock stylesheets %}

{% block content %}
<div class="content mt-2">
	<div class="page-header">
		<div class="page-title">
			{% for tran in trans %}
			<h4>View Customer's Order #{{ tran.transaction_id }}</h4>
			{% endfor %}
			<h6>View list of foods ordered</h6>
		</div>
	</div>
	<div class="card">
		<div class="card-body">
			<div class="table-responsive">
				<table id="example" class="table">
					<thead>
						<tr>
							<th>Food No.</th>
							<th>Image</th>
							<th>Foods</th>
							<th>Quantity</th>
							<th>Price</th>
							<th>Amount</th>
							<th class="text-center">Action</th>
						</tr>
					</thead>
					{% for order in orders %}
					<tbody>
						<tr>
							<td>{{ order.id }}</td>
							<td>
								<a href="{{ order.product.image.url }}">
									<img width="50" src="{{ order.product.image.url }}">
								</a>
							</td>
							<td>{{ order.product.name }}</td>
							<td>{{ order.quantity }}</td>
							<td>{{ order.product.price }}</td>
							<td>{{ order.total_amount }}</td>
							<td class="text-center">
								<a class="btn btn-sm btn-info text-white" data-bs-toggle="modal" id=""
								   data-bs-target="#viewModal{{ order.id }}">
									<i data-feather="eye"></i>
								</a>
							</td>
						</tr>

						<!-- View modal -->
						<div class="modal fade" id="viewModal{{ order.id }}">
							<div class="modal-lg modal-dialog">
								<div class="modal-content">
									<form action="" method="post" id="view_frm">
										<div class="modal-header">
											<h5 class="modal-title" id="exampleModalLabel">Your Order</h5>
											<button type="button" class="btn-close" data-bs-dismiss="modal"
													aria-label="Close"></button>
										</div>
										<div class="modal-body">
											<div class="row">
												<div class="form-group">
													<label>Item Name</label>
													<input type="text" value="{{ order.product.name }}"
														   class="form-control" name="name" readonly>
												</div>
												<div class="col-md-6">
													<div class="form-group">
														<label>Quantity</label>
														<input type="text" value="{{ order.quantity }}"
															   class="form-control" name="quantity" readonly>
													</div>
												</div>
												<div class="col-md-6">
													<div class="form-group">
														<label>Price</label>
														<input type="text" value="{{ order.product.price }}"
															   class="form-control" name="price" readonly>
													</div>
												</div>
												<div class="form-group">
													<label>Total Price</label>
													<input type="text" value="{{ order.total_amount }}"
														   class="form-control" name="total_price" readonly>
												</div>
												<div class="col-md-6">
													<div class="form-group">
														<label>Category</label>
														<input type="text" value="{{ order.product.category }}"
															   class="form-control" name="category" readonly>
													</div>
												</div>
												<div class="form-group">
													<label>Prep Time</label>
													<input type="text" value="{{ order.product.PrepTime }}"
														   class="form-control" name="PrepTime" readonly>
												</div>
											</div>
											<div class="form-group">
												<label>Description</label>
												<textarea name="description" id="description" cols="30" rows="10"
														  readonly>{{ order.product.description }}</textarea>
											</div>
										</div>
										<div class="modal-footer float-end">
											<a class="btn btn-cancel" data-bs-dismiss="modal"
											   aria-label="Close">Close</a>
										</div>
									</form>
								</div>
							</div>
						</div>
					</tbody>
					{% endfor %}
				</table>
			</div>
		</div>
	</div>
	<a class="btn btn-primary" onclick="window.history.go(-1); return false;"><i class="fa fa-arrow-left"></i> Back</a>

</div>
{% endblock %}
